button
  border-radius: 70%
  background: #fff6d5ff
  border: 0.8vh solid #d38d5fff
  width: 55px
  height: 55px
  outline: 0
  img
    width: 100%
button.large
  @extend button
  width: 30vh
  height: 30vh
  border-width: 1.5vh
button:hover
  border-color: #fff6d5ff
  background: rgb(214, 204, 145)
button:active
  background: rgb(224, 168, 104)

button[disabled]
  background: lightgray
  border-color: lightgray
  