#connecting-view 
  background: #f2f2f2
  z-index: 6

#bigger-rect-top
  height: 60vh
  display: table-cell
  vertical-align: middle
  width: 100vw
#smaller-rect-bottom
  height: 37.5vh
  text-align: center
.square
  height: 50vh
  width: 50vh
  img
    width: 100%
    
#searching
  margin: 0 auto
  div
    position: relative
    height: inherit
    width: inherit
    text-align: center
    display: table-cell
    vertical-align: middle
  
#magnifying
  animation-name: fake-circle
  animation-duration: 2s
  animation-iteration-count: infinite
  width: 30vh
  
@keyframes fake-circle
  from
    transform: rotate(0deg) translateX(20px) rotate(0deg)
  to
    transform: rotate(360deg) translateX(20px) rotate(-360deg)