$block-size: 50px
.block
  width: $block-size
  height: $block-size
  display: inline-block
  img
    width: 132%

.available
  margin-right: 25px

.placeholder
  border: 1px solid gray

.area
  text-align: center
  width: 100%
  
.available
  margin-right: 25px

.box
  display: flex
  flex-flow: column
  height: 100%
  width: 100%
  .header
    flex: 0 1 auto
  .content
    flex: 1 1 auto
  .footer
    flex: 0 1 auto

#top-area
  padding: 10px 0

#placeholders-area
  box-sizing: border-box
  border: 3px solid #bcb8ae
  background: #fcf9ee
  width: 100%