$block-size: 50px
$backcolor: #f2f2f2
.block
  width: $block-size
  height: $block-size
  display: inline-block
  img
    width: 132%

.available
  margin-right: 25px

.area
  width: 100%

.box
  display: flex
  flex-flow: column
  height: 100%
  width: 100%
  .header
    flex: 0 1 auto
  .content
    flex: 1 1 auto
  .footer
    flex: 0 1 auto

#top-area
  position: fixed
  background: $backcolor
  padding: 10px 0
  #rope-connection
    display: inline-block
    width: 20%
    text-align: center
    img 
      width: 35px
      padding-right: 10px
    #connection-status
      border-radius: 100%
      text-indent: 9999px
      padding: 0 9px
      box-sizing: border-box
      border: 1px solid #241c1c
  #rope-connection.connected
    #connection-status
      background: #0aff0a
  #rope-connection.disconnected
    #connection-status
      background: red
      
  #available-pieces
    display: inline-block
    text-align: center
    width: 60%

#placeholders-area
  margin-top: 75px
  overflow-x: scroll
  box-sizing: border-box
  border: 3px solid #bcb8ae
  background: #fcf9ee
  width: 100%
  #go-block
    position: fixed
    right: 20px
    bottom: 12px

.centered-content  
  display: flex
  align-items: center
  justify-content: center
    